{% extends "base.html" %}

{% block page_content %}
<div class="container" style="display:flex; justify-content: center; align-items: center;">
  <div class="row">
    <div class="col align-self-center">
<div class="card" style="width: 18rem; margin">
  {%load static%}
  <img src="{% static "images/8954012d-cf62-4ff2-a24e-bfcb212f6282.png" %}" class="card-img-top" alt="logo">
  <div class="card-body">
    <h5 class="display-4" style="color:00CCCC;">Register</h5>

    <form method="post" action="{%url 'register'%}">
      {% csrf_token %}
      {%if form.errors%}
      <p style="color: red">Please Check your inputs!</p>
      {%endif%}
      {%if next%}
      <p>You can't access that page</p>
      {%endif%}
      <div class="form-group">
        {{form}}
      </div>

  <div class="form-group">
    <small id="emailHelp" class="form-text text-muted">We'll never share your info with anyone else.</small>
  </div>
  <button type="submit" class="btn btn-primary" value="register">Submit</button>
  <input type="hidden" name="next" value="{{next}}"
</form>

  </div>
</div>
</div>
</div>
</div>
{% endblock %}
