{% extends "base.html" %}

{% block page_content %}
{%load static%}
<link href="{% static 'css/landing-page.min.css'%}" rel="stylesheet">

</head>

<body>

 <!-- Masthead -->
 <header class="masthead text-white text-center">
   <div class="overlay"></div>
   <div class="container">
     <div class="row">
       <div class="col-xl-9 mx-auto">
         {%if user.is_authenticated%}
         <h1 class="mb-5">Welcome back {{user.username}} !</h1>
         {%else%}
         <h1 class="mb-5">Join Us!</h1>
         {%endif%}
       </div>
       <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
         <form>
           <div class="form-row">
             <div class="col-12 col-md-9 mb-2 mb-md-0">
               <input type="email" class="form-control form-control-lg" placeholder="Enter your email...">
             </div>
             <div class="col-12 col-md-3">
        <input type= "button" onclick="window.location.href='/accounts/login';"type="submit" class="btn btn-block btn-lg btn-primary" value="Login">
             </div>
           </div>
         </form>
       </div>
     </div>
   </div>
 </header>

 <!-- Icons Grid -->
 <section class="features-icons bg-light text-center">
   <div class="container">
     <div class="row">
       <div class="col-lg-4">
         <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
           <div class="features-icons-icon d-flex">
             <i class="icon-screen-desktop m-auto text-primary"></i>
           </div>
           <h3>Chat with Friends</h3>
           <p class="lead mb-0">Unlimited Chat with friends</p>
         </div>
       </div>
       <div class="col-lg-4">
         <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
           <div class="features-icons-icon d-flex">
             <i class="icon-layers m-auto text-primary"></i>
           </div>
           <h3>Video</h3>
           <p class="lead mb-0">Unlimited usage Available for only 1 USD a day. Use only as needed, when needed</p>
         </div>
       </div>
       <div class="col-lg-4">
         <div class="features-icons-item mx-auto mb-0 mb-lg-3">
           <div class="features-icons-icon d-flex">
             <i class="icon-check m-auto text-primary"></i>
           </div>
           <h3>Easy to Navigate</h3>
           <p class="lead mb-0">Signup for an Account, and Start Chatting</p>
         </div>
       </div>
     </div>
   </div>
 </section>

 <!-- Image Showcases -->
 <section class="showcase">
   <div class="container-fluid p-0">
     <div class="row no-gutters">
      {%load static%}
       <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('{% static '/images/neonbrand-570373-unsplash.jpg' %} ');"></div>
       <div class="col-lg-6 order-lg-1 my-auto showcase-text">
         <h2>Chat</h2>
         <p class="lead mb-0">Unlimited Chat with friends</p>
       </div>
     </div>
     <div class="row no-gutters">
       {%load static%}
       <div class="col-lg-6 text-white showcase-img" style="background-image: url('{% static 'images/neonbrand-618320-unsplash.jpg' %}');"></div>
       <div class="col-lg-6 my-auto showcase-text">
         <h2>Video</h2>
         <p class="lead mb-0">Unlimited usage Available for only 1 USD a day. Use only as needed, when needed</p>
       </div>
     </div>
     <div class="row no-gutters">
       {%load static%}
       <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url( '{% static 'images/annie-spratt-223429-unsplash.jpg' %} ');"></div>
       <div class="col-lg-6 order-lg-1 my-auto showcase-text">
         <h2>Easy to Navigate</h2>
         <p class="lead mb-0">Signup for an Account, and Start Chatting</p>
       </div>
     </div>
   </div>
 </section>

 <!-- Testimonials -->
 <section class="testimonials text-center bg-light">
   <div class="container">

   </div>
 </section>

 <!-- Call to Action -->
 <section class="call-to-action text-white text-center">
   <div class="overlay"></div>
   <div class="container">

   </div>
 </section>

 <!-- Footer -->
 <footer class="footer bg-light">
   <div class="container">
     <div class="row">
       <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
         <ul class="list-inline mb-2">
           <li class="list-inline-item">
             <a href="#">About</a>
           </li>
           <li class="list-inline-item">&sdot;</li>
           <li class="list-inline-item">
             <a href="#">Contact</a>
           </li>
           <li class="list-inline-item">&sdot;</li>
           <li class="list-inline-item">
             <a href="#">Terms of Use</a>
           </li>
           <li class="list-inline-item">&sdot;</li>
           <li class="list-inline-item">
             <a href="#">Privacy Policy</a>
           </li>
         </ul>
         <p class="text-muted small mb-4 mb-lg-0">&copy; SpeakEasy 2019. All Rights Reserved.</p>
       </div>
       <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
         <ul class="list-inline mb-0">
           <li class="list-inline-item mr-3">
             <a href="#">
               <i class="fab fa-facebook fa-2x fa-fw"></i>
             </a>
           </li>
           <li class="list-inline-item mr-3">
             <a href="#">
               <i class="fab fa-twitter-square fa-2x fa-fw"></i>
             </a>
           </li>
           <li class="list-inline-item">
             <a href="#">
               <i class="fab fa-instagram fa-2x fa-fw"></i>
             </a>
           </li>
         </ul>
       </div>
     </div>
   </div>
 </footer>

 <!-- Bootstrap core JavaScript -->
 <script src="vendor/jquery/jquery.min.js"></script>
 <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>

{% endblock %}
