

{% extends "pro.html" %}
{% block page_content %}

{%if user.is_authenticated %}
  <h1>Chat room between {{user.username}} && {{friend.first_name}}</h1>
  <div class="container" >
    <div class="row">
      <div class="col align-self-center">
        <div data-spy="scroll" data-target="#navbar-example3" data-offset="0">
  <ul id="history">
    {%for m in messages%}
    <li>{{m.message}}, {{m.handle}} {{m.timestamp}}</li>
    {%endfor%}
  </ul>
  </div>
    <form id='form' method="POST" style="margin-left:auto; margin-right:auto; padding-top:50px;"class="form-inline my-2 my-lg-0">{%csrf_token%}
      <input class="form-control mr-sm-2"  type="message" placeholder="message" id="messages" aria-label="messages" >
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">send</button>
    </form>
</div>
</div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/reconnecting-websocket/1.0.0/reconnecting-websocket.js"></script>
<script>
    var formData=$("#form")
    var messages=$("#messages")
    var chat_history=$("#history")
    var roomName = "{{ room.room_name}}"
    // var location= window.location
    var endpoint= window.location.host + '/profile/chat/room/' + roomName + '/'
    var ws_start='ws://'
    if(window.location.protocol=='https:')
    {
      //change to secure sockets
      ws_start='wss://'
    }
    //new websocket
    var chatSocket = new ReconnectingWebSocket(ws_start + endpoint)
    chatSocket.onmessage = function(e){
      console.log("message",e)
      //parse the returned data from consumer.py
      var returned_data= JSON.parse(e.data)

      //append the chat history with new messages
      chat_history.append("<li>" + returned_data.msg + " " + returned_data.username + "</li>")
    }
    chatSocket.onopen= function(e){
      console.log("open",e)
      // disable post Submit
      formData.submit(function(event){
        event.preventDefault()
        var msg= messages.val()
        var data={
          'message': msg
        }
         chatSocket.send(JSON.stringify(data))
         formData[0].reset()
      })
    }
    chatSocket.onerror= function(e){
      console.log("error",e)
    }
    chatSocket.onclose= function(e){
      console.log("close",e)
    }
</script>
{%else%}
<h1>These are not the pages you are looking for</h1>
{%endif%}

{%endblock%}
