

{% extends "pro.html" %}
{% block page_content %}

{%if user.is_authenticated%}
  <h1>Chat room between {{user.username}} && {{friend.first_name}}</h1>
    <li>{{message}},{{message.handle}}{{message.timestamp}}</li>

    <form id='form' method="POST" style="margin-left:auto; margin-right:auto; padding-top:50px;"class="form-inline my-2 my-lg-0">{%csrf_token%}
      <input class="form-control mr-sm-2"  type="message" placeholder="message" id="messages" aria-label="messages" >
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">send</button>
    </form>

<script>
    var formData=$("#form")
    var messages=$("#messages")
    var roomName = "{{ room.room_name}}"
    // var location= window.location
    var endpoint= window.location.host + '/profile/chat/room/' + roomName + '/'
    var ws_start='ws://'
    if(window.location.protocol=='https:')
    {
      //change to secure sockets
      ws_start='wss://'
    }
    //new websocket
    var chatSocket = new WebSocket(ws_start + endpoint)
    chatSocket.onmessage = function(e){
      console.log("message",e)
    }
    chatSocket.onopen= function(e){
      console.log("open",e)
      //disable post Submit
      formData.submit(function(event){
        event.preventDefault()
         chatSocket.send("hello world")
      })
    }
    chatSocket.onerror= function(e){
      console.log("error",e)
    }
    chatSocket.onclose= function(e){
      console.log("close",e)
    }
</script>
{%else%}
<h1>These are not the pages you are looking for</h1>
{%endif%}

{%endblock%}
